@import './place.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #26262b;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  /*background-image: url("Главный экран.png");*/
  background-repeat: no-repeat;
  background-position: top;
}

body * {
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 19pt;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.main-header,
.main,
.main-wrapper {
  min-width: 320px;
  max-width: 430px;
}

.main-header {
  height: 149px;
  width: 100%;
  /*background-color: #767676;*/
  background-image: url('images/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main,
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*opacity: 0.3;*/
  /*margin-top: 40px;*/
}

.main {
  padding: 0 16px;
}

.main--scrolled {
  /*padding-top: 129px;*/
}

.main > * {
  max-width: 430px;
  width: 100%;
}

.background-wrapper {
  margin: -29px 0 20px 0;
  padding: 40px 22px 22px 22px;
  background-color: #303034;
  border-radius: 15px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*.search .search__info > * {*/
/*  padding: 0 22px;*/
/*}*/

.search.search--scrolled {
  display: flex;
  padding: 22px;
  /*position: -webkit-sticky;*/
  position: fixed;
  top: 0;
  max-width: 430px;
  min-width: 320px;
  width: auto;
  z-index: 2;
  background-color: #303034;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: calc(100% - 32px);
}

.search.search--scrolled.background-wrapper {
  margin: 0;
}

.search.search--scrolled + .places {
  margin-top: 227px;
}

.search__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__info.search__info--hidden {
  display: none;
}

.search__title,
.search__text {
  color: #ffffff;
  margin: 0 0 5px 0;
}

.search__text {
  width: 100%;
  padding-bottom: 10px;
  letter-spacing: normal;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 20px;
}

.search__title {
  margin-bottom: 7px;
}

.search__input--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
}

.search__input--wrapper::before {
  /*content: url("images/search.svg");*/
  position: absolute;
  color: #ffffff;
  padding-left: 35px;
}

.search__input {
  height: 37px;
  background-color: #3c3c3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 30px;
  background-image: url('images/search.svg');
  background-repeat: no-repeat;
  background-position: 3% 50%;
  /*margin-left: 22px;*/
  /*margin-right: 22px;*/
}

.filters {
  display: flex;
  list-style-type: none;
  width: 100%;
  gap: 5px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #767678;
  border-radius: 5px;
}

.filters__item--scrolled {
  background-color: #ffffff;
}

.filters__item:last-child {
  margin-right: 0;
}

.filters__item__text {
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  margin: 0;
  padding: 8px 10px;
  font-size: 12px;
  letter-spacing: -0.9px;
}

.places {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.places.places--scrolled {
  margin-top: 225px;
}

.places-title {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.places-title:first-of-type {
  margin-top: 0;
}

.places-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.place__card {
  list-style-type: none;
  margin-bottom: 10px;
}

.place__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  /*height: 100%;*/
}

.place__link:focus {
  outline: 0;
}

.place-card__image--wrapper {
  /*height: 100%;*/
  margin-bottom: 9px;
}

.place-card__image--wrapper::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 21px;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.place__card--opened .place-card__image--wrapper::before {
  content: attr(data-before);
  background-color: #65ab63;
}

.place__card--closed .place-card__image--wrapper::before {
  content: attr(data-before);
  background-color: #a43d43;
}

.place__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #767678;
  border-radius: 15px;
}

.place__title {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.place__address {
  color: #8c8c8c;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  /** {*/
  /*  font-size: 14px;*/
  /*}*/
  .place__address {
    font-size: 13px;
  }
}
